# =====================
# Python
# =====================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# =====================
# Virtual Environments
# =====================
venv/
.env
.env.*

# =====================
# OS files
# =====================
.DS_Store
Thumbs.db

# =====================
# IDEs / Editors
# =====================
.vscode/
.idea/

# =====================
# Data outputs
# =====================
data/
*.parquet
*.csv

# =====================
# Jupyter
# =====================
.ipynb_checkpoints/

# =====================
# Logs
# =====================
*.log
